PORT= 3000
DB_HOST="mongodb+srv://ninnoxio_db_user:62x05DlaSdsooL2m@cluster0.6mzskz5.mongodb.net"

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
